<div class="receita-box">
    <div class="receita-titulo">
      <h2>Bolo de Chocolate Premium</h2>
    </div>
    <div class="receita-conteudo">
      <div class="receita-descricao">
        <p>O bolo de chocolate é uma sobremesa clássica e deliciosa, fácil de preparar com ingredientes simples como ovos, açúcar, farinha e chocolate em pó. A adição de água quente e fermento confere maciez à massa. A cobertura cremosa, feita com leite, chocolate, manteiga e açúcar, é derramada sobre o bolo quente, criando uma experiência de sabor irresistível. Ideal para encontros familiares ou celebrações, este bolo vai agradar a todos.</p>
      </div>
      <div class="receita-imagem">  
        <a routerLink="/receitas/bolo-de-chocolate">
          <img src="ref/Screenshot_1.png" alt="Screenshot_1.png">
        </a>
      </div>
    </div>
  </div>