<!-- cx1.component.html -->
<div class="receita-box">
    <div class="receita-titulo">
      <h2>Bolo de Chocolate Fofinho</h2>
    </div>
    
    <div class="receita-conteudo">
      <div class="receita-ingredientes">
        <h3>Ingredientes</h3>
        <ul>
          <li>
            <img src="ref/ovo.png" alt="Ovo" class="ingrediente-icone">
            <span class="ingrediente-quantidade">3</span> ovos
          </li>
          <li>
            <img src="ref/acucar.png" alt="Açúcar" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1½ xíc.</span> açúcar
          </li>
          <li>
            <img src="ref/farinha.png" alt="Farinha" class="ingrediente-icone">
            <span class="ingrediente-quantidade">2 xíc.</span> farinha de trigo
          </li>
          <li>
            <img src="ref/em-po.png" alt="Chocolate" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 xíc.</span> chocolate em pó
          </li>
          <li>
            <img src="ref/oleo-de-cozinha.png" alt="Óleo" class="ingrediente-icone">
            <span class="ingrediente-quantidade">½ xíc.</span> óleo
          </li>
          <li>
            <img src="ref/colher.png" alt="Fermento" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 colher</span> fermento em pó
          </li>
          <li>
            <img src="ref/sal.png" alt="Sal" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 pitada</span> sal
          </li>
          <li>
            <img src="ref/xicara-de-cafe.png" alt="Água" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 xíc.</span> água quente
          </li>
        </ul>
      </div>
      
      <div class="receita-preparo">
        <h3>Modo de Preparo</h3>
        <ol>
          <li>Bata no liquidificador os ovos, açúcar, óleo, chocolate e farinha</li>
          <li>Transfira para tigela e misture a água quente e fermento</li>
          <li>Despeje em forma untada e leve ao forno médio (200°C) por 40 min</li>
          <li>Desenforme ainda quente</li>
        </ol>
      </div>
    </div>
    
    <div class="receita-imagem">  
        <a routerLink="/receitas/bolo-de-chocolate">
            <img src="ref/Screenshot_1.png" alt="Screenshot_1.png">
          </a>
    </div>
  </div>