<!-- cx1.component.html -->
<div class="receita-box">
    <div class="receita-titulo">
      <h2>Pavê de Morango Cremoso</h2>
    </div>
    <div class="receita-conteudo">
      <div class="receita-descricao">
        <p>O pavê de morango é uma sobremesa irresistível que combina camadas de biscoito champanhe embebido em leite, creme branco e morangos frescos. O toque final fica por conta do creme de leite batido e raspas de chocolate branco. Fácil de preparar e perfeita para ocasiões especiais, essa sobremesa agrada a todos os paladares com seu equilíbrio entre doce e ácido.</p>
      </div>
    </div>
    <div class="receita-imagem">  
      <a routerLink="/receitas/pave-de-morango">
        <img src="ref/300138-original.jpg" alt="Pavê de Morango">
      </a>
    </div>
  </div>
  