<nav class="menu-container">
  <a class="menu-logo" routerLink="/">GastroTour</a>

  <a class="menu-receita" routerLink="/receitas">Receitas</a>

  <ul class="menu-links">
    <li><a routerLink="/jantares" class="menu-link">Jantares</a></li>
    <li><a routerLink="/lanches" class="menu-link">Lanches</a></li>
    <li><a routerLink="/noticias" class="menu-link">Notícias</a></li>
    <li><a routerLink="/criticas" class="menu-link">Críticas</a></li>
  </ul>
  
  <div class="menu-search">
    <input type="text" placeholder="Procurar...">
    <button>🔍</button>
  </div>
</nav>