<!-- cx1.component.html -->
<div class="receita-box">
    <div class="receita-titulo">
      <h2>Pavê de Morango Cremoso</h2>
    </div>
    
    <div class="receita-conteudo">
      <div class="receita-ingredientes">
        <h3>Ingredientes</h3>
        <ul>
          <li>
            <img src="ref/biscoito.png" alt="Biscoito" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 pacote</span> bolacha maizena 
          </li>
          <li>
            <img src="ref/lata.png" alt="Leite condensado" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 lata</span> leite condensado
          </li>
          <li>
            <img src="ref/122.png" alt="Creme de leite" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 caixinha</span> creme de leite
          </li>
          <li>
            <img src="ref/lata.png" alt="Leite" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 lata</span> leite comum
          </li>
          <li>
            <img src="ref/ovo.png" alt="Gema" class="ingrediente-icone">
            <span class="ingrediente-quantidade">2</span> gemas peneiradas
          </li>
          <li>
            <img src="ref/farinha.png" alt="Farinha" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 colher (sopa)</span> farinha de trigo 
          </li>
          <li>
            <img src="ref/morango.png" alt="Morango" class="ingrediente-icone">
            <span class="ingrediente-quantidade">2 xíc.</span> morango
          </li>
          <li>
            <img src="ref/baunilha.png" alt="Baunilha" class="ingrediente-icone">
            <span class="ingrediente-quantidade">1 colher (chá)</span> baunilha
          </li>
          <li>
            <img src="ref/morango.png" alt="Morango decorar" class="ingrediente-icone">
            <span class="ingrediente-quantidade">à gosto</span> morango para decorar
          </li>
          <li>
            <img src="ref/Chantilly.png" alt="Chantilly" class="ingrediente-icone">
            <span class="ingrediente-quantidade">à gosto</span> chantilly para decorar
          </li>
        </ul>
      </div>
      
      <div class="receita-preparo">
        <h3>Modo de Preparo <span class="tempo-preparo">30min</span></h3>
        <ol>
          <li>Em uma panela, misture leite condensado, leite (reserve um pouco), gemas peneiradas, baunilha e farinha dissolvida no leite reservado</li>
          <li>Mexa sem parar por cerca de 15 minutos até engrossar</li>
          <li>Desligue o fogo e misture o creme de leite</li>
          <li>Bata no liquidificador se necessário para homogenizar</li>
          <li>Monte camadas no refratário: bolachas (umedecidas), morangos picados e creme</li>
          <li>Repita as camadas terminando com creme</li>
          <li>Decore com morangos e chantilly</li>
          <li>Leve à geladeira por 4 horas antes de servir</li>
        </ol>
      </div>
    </div>
    
    <div class="receita-imagem">  
        <a routerLink="/receitas/pave-de-morango">
            <img src="ref/300138-original.jpg" alt="Pavê de Morango">
          </a>
    </div>
  </div>